<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>validation page</title>
    <style>

        body {
            background-color: #545454;
        }

        a {
            color: white;
            font-size: 20px;
        }
        
    </style>
</head>
<!-- http://localhost:3000/setpassward -->
    <body>
        <a id="setpass" href="/setpassward">click here to continue!!</a>
    </body>


</html>

















