<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReTweet</title>

    <link rel="stylesheet" href="/CSS/retweet.css">

</head>
<body>
    

    <div id="allretweets">

        
    </div>


</body>

    <script>

function timeAgo(dateString) {
    const pastDateInmilliSec = new Date(dateString); 
    const now = new Date();
    const diffInmillisec = now - pastDateInmilliSec;

    const diffInSec = Math.floor(diffInmillisec / 1000);
    const diffInMin = Math.floor(diffInmillisec / (1000 * 60));
    const diffInHours = Math.floor(diffInmillisec / (1000 * 60 * 60)); 
    const diffInDays = Math.floor(diffInmillisec / (1000 * 60 * 60 * 24));
    const diffInWeeks = Math.floor(diffInmillisec / (1000 * 60 * 60 * 24 * 7)); 
    const diffInMonths = Math.floor(diffInmillisec / (1000 * 60 * 60 * 24 * 30)); 

    if(diffInMonths > 1){
        return `${diffInMonths} months ago`
    }
    else if(diffInWeeks >= 1 && diffInWeeks <= 4){
        return `${diffInWeeks} weeks ago`
    }
    else if(diffInDays >= 1 && diffInDays <= 7){
        return `${diffInDays} days ago`
    }
    else if(diffInHours >= 1 && diffInHours < 24){
        return `${diffInHours} hours ago`
    }
    else if(diffInMin >= 1 && diffInMin <= 60){
        return `${diffInMin} min ago`
    }
    else {
        return `${diffInSec} second ago`
    }

}


    let div = document.getElementById('allretweets');

        async function getAllRetweet(){

            let str = ''

            let respone = await fetch('/deshboard/allretweet');

            if(!respone.ok){
                let result = await respone.json();
                alert(result.msg)
            }

            let result = await respone.json();
            console.log(result.data);


            for(let i=0;i<result.data.length;i++){

                let tweetTime = timeAgo(result.data[i].tweetTime)
                let reTweetTime = timeAgo(result.data[i].reTweetTime)


                str += `<b>${result.data[i].first_name} ${result.data[i].last_name} : </b>
                         <br>
                        <lable> ${result.data[i].twitts_data}  <b> ${tweetTime} </b> </lable>
                        <br>
                        <lable>Retweet by : ${result.data[i].who_retweet_id} & Retweet is :  ${result.data[i].retweet_data}  <b> ${reTweetTime} </b> </label>
                        <hr>
                        `
            }

            div.innerHTML = str;

            str = " "

        }
        getAllRetweet();

    </script>

</html>